@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/* font-family: 'Architects Daughter', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* font-family: 'Reenie Beanie', cursive; */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../AuroraLiveVR-resource/gradient_pink.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #f0a9a9;
  text-decoration: none;
}
a:active {
  color: #fed962;
  text-decoration: none;
}
a:visited {
  color: #ddd;
  text-decoration: none;
}

.ovl-sekai {
  background-image: url("../AuroraLiveVR-resource/KaleidoSekai_icon_solid.svg");
  background-size: 150%;
  background-position: 150% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.ovl-clr {
  background-color: #00000080;
  width: 100%;
  height: 100%;
}
.text {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logoplace {
  width: 100%;
  height: 150px;
}
.KaleidoSekai {
  background-image: url(../AuroraLiveVR-resource/KaleidoSekai_ALVR-AgaChuu.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.AuroraLiveVR {
  background-image: url(AuroraLiveVR.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}