@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@font-face {
    font-family: "Discord";
    src: url(https://assets.website-files.com/6257adef93867e50d84d30e2/62593142e1ae9ea28ebeab76_Ginto%20Nord%20Medium.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Architects Daughter', cursive;
    font-size: 32px;
    color: #fff;
    background-color: #fed962;
    background-image: url("suzu_promo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: #000;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.alvrLinks:link {
    color: #fff;
    text-decoration: none;
}
.alvrLinks:hover {
    color: #f0a9a9;
    text-decoration: underline;
}
.alvrLinks:active {
    color: #fed962;
    text-decoration: underline;
}
.alvrLinks:visited {
    color: #888;
    text-decoration: none;
}

.remind {
    background-color: #000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.trailer {
    background-color: #00000080;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.suzuText {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}
.glitch {
    color: #ffffff80;
}

.timer {
    background-color: #fed962;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #000;
}

.column {
    float: left;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
}
.suzuIntro .column {
    height: 1000px;
}

.suzuProfile {
    background-image: url("suzu_alvr.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.suzuDescBG {
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.suzuDesc {
    background-color: #fed96280;
    height: 100%;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.suzuScrl {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.suzuScrl::-webkit-scrollbar {
    display: none;
}
.suzuScrl {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.getinvolved {
    background: linear-gradient(to bottom right, #000 25%, #fed962 100%);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.embedTable {
    padding-top: 15px;
    padding-bottom: 15px;
}
.iframeResponsive {
    width: 100%;
}

.discord-div {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.discord-btn {
    font-family: "Discord", sans-serif;
    background-color: #5865f2;
    border: none;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    border-radius: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.discord-btn:hover {
    background-color: #eb459e;
}

.alvrTable {
    height: 375px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.AuroraLiveVR {
    background-image: url("AuroraLiveVR.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}